.App {
  background-color: #white;
}
.App .Introduction {
  display: inline;
}

.App .Quiz-Display {
  margin-bottom: 46px;
}

.App .Quiz-name {
  font-size: 34px;
  color: #59605f;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 25px 20px 25px 125px;
}

