.counter-info {
  border: 1px solid #E85A4F;
  background-color: white;
  color: black;
  margin-bottom: 26px;
  color: #59605f;
  text-align: center;
}

@media (min-width:601px) {
  .counter-info {
    position: fixed;
    margin-top: 575px;
    width: 100%
  }
}

@media (max-width:600px) {
  .counter-info {
    position: fixed;
    margin-top: 539px;
    width: 100%;
  }
}
