.question {
  border: 1px #6ec8b2 solid;
  padding: 15px 0;
  background-color: white;
  border-radius: 25px;
  text-align: center;
  display: block;
  color: #59605f;
}

.question h3 {
  font-size: 26px;
  margin: 0;
}
 
.question img {
  max-width: 50%;
  max-height: 300px;
  text-align: center;
  display: inline-block;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

.question .possible-choices {
  text-align: center;
  display: block;
}

.question .possible-choices .choice {
  margin: 5px;
  background-color: rgb(229, 229, 229);
  padding: 5px;
  width: 60%;
  text-align: left;
  border-radius: 20px; 
}

.question .possible-choices .choice:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.question .possible-choices .choice.rightAnswer {
  background-color: #6EC8B2;
  color: #fff;
}

.question .possible-choices .choice.wrongAnswer {
  background-color: #E85A4F;
  color: #fff;
}

.question .possible-choices .choice.answered {
  box-shadow: none;
}

@media (min-width:801px) {
  .question {
    max-width: 60%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .question .img {
    min-width: 40px;
  }
}

@media (max-width:800px) {
  .question {
    max-width: 800px;
    border-radius: 1px;
  }
}

@media (max-width: 600px) {
  .question {
    border-radius: 0px;
  }
}
