.App .quiz-title {
  text-align: center;
  margin: 25px 0px 25px 0px;
  padding-bottom: 20px;
  position: relative;
}

.App .quiz-title .quiz-name {
  font-size: 34px;
  margin-top: 5px;
  color: #59605f;
  text-align: center;
  display: block;
}

.App .sum {
  margin: 25px 0px 25px 0px;
  color: #59605f;
}

.App .Quiz-pic {
  border-radius: 10px;
}

.App .begin-quiz {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #6EC8B2;
  font-size: 16px;
  background-color: #fff;
  margin-bottom: 25px;
  color: #59605f;
}

.App .begin-quiz:hover {
  background-color: #6EC8B2;
  color: #fff;
}

.App .begin-quiz:active {
  background-color: #ffa449; 
  color: #fff;
}

@media (min-width:801px) {
  .App .quiz-title {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .App .Quiz-pic {
    max-height: 260px;
    margin-left: 0 auto;
    text-align: center;
    margin-right: 0 auto;
  }
}

@media (max-width:800px) {
  .quiz-title {
    max-width: 800px;
    min-width: 320px;
    text-align: center;
    padding-bottom: 35px;
  }
  .App .quiz-title .quiz-name {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 42px;
  }
  .App .quiz-title .sum {
    line-height: 22px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
  .Quiz-pic {
    text-align: center;
    max-height: 200px;
  }
}

@media (max-width:400px) {
  .App .Quiz-pic {
    max-height: 150px;
    text-align: center;
  }
  .quiz-title {
    text-align: center;
    margin: 0 10px 0 10px;
  }
  .App .begin-quiz {
    margin-bottom: 0px;
  }
}
