.question {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 20px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  display: block;
  color: #3e4a48;
}

.question h3 {
  font-size: 20px;
  color: #3e4a48;
  margin: 0;
}
 
.question img {
  max-width: 50%;
  max-height: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

.question .possible-choices {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.question .possible-choices .choice {
  margin: 5px;
  background-color: rgb(229, 229, 229);
  padding: 5px;
  width: 60%;
  text-align: left;
  border-radius: 5px; 
}

.question .possible-choices .choice:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.question .possible-choices .choice.rightAnswer {
  background-color: #6EC8B2;
  color: #fff;
}

.question .possible-choices .choice.wrongAnswer {
  background-color: #E85A4F;
  color: #fff;
}

.question .possible-choices .choice.answered {
  box-shadow: none;
}

@media (min-width:801px) {
  .question {
    max-width: 60%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .question .img {
    min-width: 40px;
    margin-bottom: 50px;
  }
}

@media (max-width:800px) {
  .question {
    max-width: 800px;
    border-radius: 1px;
  }
}

@media (max-width: 600px) {
  .question {
    border-radius: 0px;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .question img {
    max-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 5px 0 5px 0;
    border-radius: 5px;
  }
  .question .possible-choices .choice {
    margin-bottom: 10px;
  }
}
