.result-box {
  border: 1px #6ec8b2 solid;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.result-box h1 {
  font-size: 20px;
}

.result-box h2 {
  font-size: 26px;
}

.result-box img {
  width: 75%;
  max-height: 200px;
  border-radius: 5px;
}

.result-box p {
  padding: 20px 155px;
}


@media (min-width:801px) {
  .result-box {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result-box .img {
    min-width: 40px;
  }
}

@media (max-width:800px) {
  .result-box {
    margin: auto;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    max-width: 800px;
    min-width: 320px;
  }
  .result-box .img {
    min-width: 40px;
  }
}

@media (max-width:600px) {
  .result-box {
    border-radius: 0;
  }
  .result-box p {
  padding: 20px 50px;
  }
}


@media (min-width:801px) {
  .result-box {
    max-width: 60%;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result-box .img {
    min-width: 40px;
  }
}

@media (max-width:800px) {
  .result-box {
    margin: auto;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    max-width: 800px;
    min-width: 320px;
  }
  .result-box .img {
    min-width: 40px;
  }
}

@media (max-width:600px) {
  .result-box {
    border-radius: 0;
  }
  .result-box p {
  padding: 20px 40px;
  text-align: left;
  }
}


