.footer {
  background-color: white;
  height: 10px;
  font-size: 12px;
  clear: both;
  border-top: 1px solid #9116fc;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  box-shadow: -2px -2px 1px 1px hsla(0, 0%, 0%, 0.2);
} 

.footerlinks {
  text-align: center;
}

.footer a {
    text-decoration: none;
    color: #002921;
    text-align: center;
    transition: margin-left 0.4s ease-in-out;
    display: inline-block;
}
 
.footer a:hover {
    color: black;
    text-decoration: underline;
  }

.footer .logo {
    height: 18px;
    margin-left: 15px;
    margin-bottom: 8px;
}


@media(max-width: 800px) {
  .footer {
    height: 120px;
  }
  .footer  a {
      display: block;
      margin-left: 0;
      margin-top: 20px;
  }
  .footer .logo {
      height: 30px;
      margin-left: 2px;
  }
}

@media(min-width: 800px) {
  .footer a {
    margin-left: 80px;
    margin-right: 80px;
  }
  .footer a:nth-child(3) {
    margin-right: 1px;
  }
}

@media(max-width: 600px) {
  .footer {
    box-shadow: none;
  }
}
