.footer {
  background-color: white;
  height: 10px;
  font-size: 12px;
  clear: both;
  border-top: 1px solid #9116fc;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
} 
.footer a {
    text-decoration: none;
    color: #002921;
    transition: margin-left 0.4s ease-in-out;
}
 
.footer a:hover {
    color: black;
    text-decoration: underline;
  }

.footer .logo {
    height: 18px;
    margin-left: 15px;
    margin-bottom: 8px;
}

@media(min-width: 800px) {
  .footer a {
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
  }
  .footer a:nth-child(3) {
    margin-right: 1px;
  }
  .footerlinks {
    text-align: right;
    margin-right: 185px;
  }
}

@media(max-width: 600px) {
  .footer {
    margin-top: 30px;
  }
  .footer a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footerlinks {
    text-align: center;
  }
}
