@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.global {
  background-color: #fff;
  height: 90px;
  box-shadow: 0 4px 2px -2px hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid #9116fc;
}  

.logo {
  height: 75px;
  margin: 5px 30px 1px 20px;
  vertical-align: middle;
}

.page-name {
  text-decoration: none;
  font: 'Amatic';
  font-weight: 200;
  color: #002921;
  vertical-align: middle;
  padding: 16px 2px 2px 2px;
  font-size: 36px;
  display: inline;
}

.searchbar {
  display: inline;
  float: right;
  margin-top: 32px;
  width: 170px;
  transition: width 0.4s ease-in-out;
  font-size: 16px;
}

.searchbar:focus {
  width: 26%;
  outline: 1px solid rgba(249, 113, 49, 0.5);
  font-size: 16px;
}

@media (max-width: 600px) {
  .global {
    display: inline;
    height: 50px;
    box-shadow: none;
    border-bottom: none;
  }

  .logo {
    margin-right: 8px;
  }

  .page-name {
    font-size: 22px;
  }

  .searchbar {
    font-size: 12px;
    transition: width 0.4s ease-in-out;
    padding-top: 5px;
    width: 70px;
  }

  .searchbar:focus {
    width: 28%;
    font-size: 12px;
  }
}
