@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:900&display=swap');

body {
  margin: 0 0 0 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0 0 10px 0;
  font: Vollkorn-black;
  color: #002921;
}

.quiz-item {
  display: inline-block;
  width: 430px;
  margin: 20px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  font-weight: 300;
  color: #3e4a48;
  text-align: left;
}

.quiz-item:hover {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.4);
}

.intropic {
  padding: 15px 0;
  display: block;
  height: 125px;
}

#blurb {
  margin: 36px 0 0 120px;
}


@media (max-width: 600px) {
  h3 {
    margin: 20px 0;
    text-align: center;
  }
  .quiz-item {
    width: 230px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  #blurb {
    border-top: 1px solid #9116fc;
    margin: 0 auto;
  }
}


